body {
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    color: darkgreen;
}

.rightAnswer {
    font-weight: bold;
    color: green;
}

.wrongAnswer {
    font-weight: bold;
    color: red;
}